In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_excel("Titan.xlsx", sheet_name="Sheet1")
df.head(5)

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

In [3]:
#Question 1:
#Find the mean of old scheme and new scheme column.
mean_old_scheme = np.mean(df['Old Scheme (in thousands)'] * 1000)
mean_new_scheme = np.mean(df["New Scheme (in thousands)"] * 1000)
print('Mean Old Scheme =', mean_old_scheme, '\n', 'Mean New Scheme =', mean_new_scheme)
df.describe().iloc[1:2]

Mean Old Scheme = 68033.33333333333
 Mean New Scheme = 72033.33333333333

      SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
mean         15.5                  68.033333                  72.033333

In [4]:
#Question 2 & 3:
# 2) Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?    
# 3) What conclusion does the test (p-value) lead to?

##It is asked that whether the new scheme has significantly raised the output, it is an example of the one-tailed t-test.
## one-tailed t-test

# a = Significantly raised output BEFORE Old Scheme. 
# b = Significantly raised output AFTER Old Scheme.

## H0: a = b  ; b – a  = 0 ## new scheme has NOT significantly raised outputs
## HA: a < b  ; b – a  > 0 ; ## new scheme has significantly raised outputs

## Since population standard deviation is unknown, paired sample t-test will be used.

from scipy.stats import ttest_rel
# compare samples
stat, p = ttest_rel((df["Old Scheme (in thousands)"] * 1000), (df["New Scheme (in thousands)"] * 1000))
print('Statistics= %.3f, p = %.3f' % (stat, p))

# interpret
alpha = 0.05
if p > alpha:
    print('we accept (fail to reject) NULL hypothesis. The new scheme has NOT significantly raised outputs.')
else:
    print('we reject NULL hypothesis and we argue that the new scheme has significantly raised outputs.')

Statistics= -1.556, p = 0.131
we accept (fail to reject) NULL hypothesis. The new scheme has NOT significantly raised outputs.

In [5]:
#Question 4:
## Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
        # a) The probability of a type 1 error?
        # b) What is the p- value of the hypothesis test if we test for a difference of $5000?
        # c) Power of the test

## H0: The average output has not increased by £5000 in the scheme compared to the old scheme, or mean difference is less than equal to 5000
## HA: The average output has increased by £5000 in the scheme compared to the old scheme, or mean difference is greater than 5000

from statsmodels.stats.power import TTestPower
from scipy.stats import ttest_1samp, levene
alpha = 0.05

l_stat, l_p = levene(df['Old Scheme (in thousands)'], df['New Scheme (in thousands)'])
print('levene Statistics= %.3f, levene p value = %.3f' % (l_stat, l_p), '\n')

#since p-value is greater than 0.05 so the variance test is also satisfied. 
#i.e both the groups have the same variance. So, Now let's go for parametric Test.

if p > alpha:
    df['diff'] = df['New Scheme (in thousands)'] - df['Old Scheme (in thousands)']
    stat, p = ttest_1samp((df['diff'] * 1000), 5)
    
    print('Statistics= %.3f, p value = %.3f' % (stat, p), '\n')
    
    # interpret
    if p > alpha:
        print('we accept (fail to reject) NULL hypothesis. The average output has not increased by £5000 in the new scheme compared to the old scheme. \n')
    else:
        print('we reject NULL hypothesis and we argue that the average output has not increased by £5000 in the new scheme compared to the old scheme. \n')

    type1Error = (1 - p)
    print("The probability of a type 1 error:", type1Error, "\n")

    effect = df['diff'].mean() / df['diff'].std()
    analysis = TTestPower()
    result = analysis.solve_power(effect, nobs=df["Old Scheme (in thousands)"].count().astype(float), alpha=type1Error.astype(float))
    print("The power of the test is: ", result)

levene Statistics= 1.063, levene p value = 0.307

Statistics= 1.554, p value = 0.131

we accept (fail to reject) NULL hypothesis. The average output has not increased by £5000 in the new scheme compared to the old scheme.

The probability of a type 1 error: 0.8689616353068759

The power of the test is:  0.9604903667385687

In [6]:
#Null Hypothesis : New scheme sales has avg 5k less than old scheme sales 
#Alternate Hypothesis : New scheme sales has avg 5k more than old scheme sales 

# a) probability of a type 1 error is 5%, if alpha is less tha 5% then reject Null hypothesis (typw 1 error)
# b) Null Hyp : mean1-mean2=5k
#    Alt Hyp : mean1-mean2^=5k

from scipy import stats

stat, p = stats.ttest_ind(df['Old Scheme (in thousands)'], df['New Scheme (in thousands)'], equal_var = False)
print('Statistics= %.3f, p value = %.3f' % (stat, p), '\n')

# P value is > 5% so do not reject Null Hypothesis and difference between sales mean = 5K

# Power of ttest
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro,bartlett
from statsmodels.stats.power import ttest_power
import matplotlib.pyplot as plt
%matplotlib inline
old=df['Old Scheme (in thousands)']
new=df['New Scheme (in thousands)']
len1=len(old)
len2=len(new)
d=(np.mean(old) - np.mean(new)) / np.sqrt(((len1-1)*np.var(old)+(len2-1)*np.var(new)) / len1+len2-2)
result = ttest_power(d, nobs=len1+len2, alpha=0.05, alternative='two-sided')
print("The power of the test is: ", result)

Statistics= -0.694, p value = 0.491

The power of the test is:  0.16610169779030542